{{- $$cluster := .InfrastructureProvider -}}
{{- $$identity := (getResource "InfrastructureProviderIdentity") -}}
{{- $$secret := (getResource "InfrastructureProviderIdentitySecret") -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: vsphere-cloud-secret
  namespace: kube-system
type: Opaque
data:
  {{ printf "%s.username" $$cluster.spec.server }}: {{ index $$secret.data "username" }}
  {{ printf "%s.password" $$cluster.spec.server }}: {{ index $$secret.data "password" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: vcenter-config-secret
  namespace: kube-system
type: Opaque
stringData:
  csi-vsphere.conf: |
    [Global]
    cluster-id = "{{ $$cluster.metadata.name }}"

    [VirtualCenter "{{ $$cluster.spec.server }}"]
    insecure-flag = "true"
    user = "{{ index $$secret.data "username" | b64dec }}"
    password = "{{ index $$secret.data "password" | b64dec }}"
    port = "443"
    datacenters = ${VSPHERE_DATACENTER}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloud-config
  namespace: kube-system
data:
  vsphere.conf: |
    global:
      insecureFlag: true
      port: 443
      secretName: vsphere-cloud-secret
      secretNamespace: kube-system
    labels:
      region: k8s-region
      zone: k8s-zone
    vcenter:
      {{ $$cluster.spec.server }}:
        datacenters:
          - ${VSPHERE_DATACENTER}
        server: {{ $$cluster.spec.server }}
